body{
  font-family: Nunito;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: #333;
  letter-spacing: 2px;
}
.bg{
  position: fixed;
  background-repeat: no-repeat;
  opacity:0.4;
  filter:alpha(opacity=40);
  height: 569px;
  width: 1024px;
  z-index: -10;
}
a{
  text-decoration: none;
  color: #6666FF;
}
a:hover{
  background-color: #6666FF;
  color: #eee;
  padding: 10 10 10 10;
}
.hdr{
  font-size: 2em;
  margin-bottom: 30px;
  letter-spacing: 4px;
}
.blob{
  margin-bottom: 20px;
}
